Repository PSPDFKit/react-native, pull requests merged in 2018-11, with the labels that each got.

#138 Update version for UWP
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#137 Small fixes for PdfView
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/PdfViewModeController.java
  samples/Catalog/android/build.gradle
Labels: Android, READY TO REVIEW

#143 Add support for programmatically removing annotations on iOS
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.ios.js
Labels: READY TO REVIEW, iOS

#141 Update react wrapper to PSPDFKit 5.0
  README.md
  android/build.gradle
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/res/values/attrs.xml
  package-lock.json
  package.json
  samples/Catalog/android/app/build.gradle
  samples/Catalog/android/app/src/main/res/values/colors.xml
  samples/Catalog/android/app/src/main/res/values/styles.xml
  samples/Catalog/android/build.gradle
  samples/Catalog/android/gradle/wrapper/gradle-wrapper.properties
Labels: Android, READY TO REVIEW

#144 Add presentInstant method to open an instant document
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
  samples/Catalog/Catalog.android.js
  samples/Catalog/android/app/build.gradle
  samples/Catalog/android/app/src/main/AndroidManifest.xml
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/catalog/MainApplication.java
  samples/Catalog/android/gradle.properties
  samples/Catalog/android/settings.gradle
  samples/Catalog/package.json
  samples/Catalog/yarn.lock
Labels: Android, READY TO REVIEW

#145 Add removeAnnotation method to Android
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  index.js
  samples/Catalog/Catalog.android.js
Labels: Android, READY TO REVIEW

#147 Update Android integration instructions
  README.md
  samples/Catalog/android/app/build.gradle
  samples/Catalog/android/gradle.properties
Labels: Android, READY TO REVIEW
