Repository PSPDFKit/react-native, pull requests merged in 2018-10, with the labels that each got.

#130 Windows FTS
  samples/Catalog/Catalog.windows.js
  samples/Catalog/windows/Catalog.sln
  samples/Catalog/windows/Catalog/Catalog.csproj
  samples/Catalog/windows/Catalog/MainReactNativeHost.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Events/PdfViewAnnotationChangedEvent.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Events/PdfViewDataReturnedEvent.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Events/PdfViewDocumentSaveFailedEvent.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Events/PdfViewDocumentSavedEvent.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/JsonUtils.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/LibraryModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitPackage.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#132 Bump PSPDFKit version
  android/build.gradle
  samples/Catalog/yarn.lock
Labels: Android, READY TO REVIEW

#134 Add automated tests for Android wrapper
  android/src/main/java/com/pspdfkit/react/PSPDFKitPackage.java
  android/src/main/java/com/pspdfkit/react/TestingModule.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDataReturnedEvent.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  samples/Catalog/android/app/build.gradle
  samples/Catalog/android/app/src/androidTest/java/com/pspdfkit/react/PdfViewTest.java
  samples/Catalog/android/app/src/androidTest/java/com/pspdfkit/react/utils/ViewActions.java
  samples/Catalog/android/app/src/main/AndroidManifest.xml
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/test/TestActivity.java
  samples/Catalog/index.js
  samples/Catalog/testing/AnnotationToolbarScreen.js
  samples/Catalog/testing/AuthorNameScreen.js
  samples/Catalog/testing/FormsScreen.js
  samples/Catalog/testing/GetAnnotationsScreen.js
  samples/Catalog/testing/Testing.js
  samples/Catalog/testing/styles.js
Labels: Android, READY TO REVIEW, enhancement

#131 Update for PSPDFKit 8 for iOS
  README.md
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
  ios/cocoapods.md
Labels: READY TO REVIEW, enhancement, iOS
