Repository PSPDFKit/react-native, pull requests merged in 2018-07, with the labels that each got.

#81 Add onDocumentSaved event for the UI Component
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
Labels: READY TO REVIEW, enhancement, iOS

#88 Add onAnnotationTapped event for the UI Component
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
Labels: READY TO REVIEW, enhancement, iOS

#92 Update Windows API's
  README.md
  index.windows.js
  samples/Catalog/Catalog.windows.js
  samples/Catalog/package.json
  samples/Catalog/windows/Catalog.sln
  samples/Catalog/windows/Catalog/Assets/pdf/Business Report.pdf
  samples/Catalog/windows/Catalog/Assets/pdf/annualReport.pdf
  samples/Catalog/windows/Catalog/Catalog.csproj
  samples/Catalog/windows/Catalog/project.json
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#94 Add callback for when an annotation is added, changed or deleted
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
Labels: enhancement, iOS

#96 UWP license file
  .gitignore
  README.md
  samples/Catalog/windows/Catalog/App.xaml
  samples/Catalog/windows/Catalog/Catalog.csproj
  samples/Catalog/windows/Catalog/MainReactNativeHost.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitPackage.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#95 [WIP] Add additional callbacks to Android
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewAnnotationChangedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewAnnotationTappedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDocumentSavedEvent.java
  android/src/main/java/com/pspdfkit/react/helper/JsonUtilities.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/PdfViewDocumentListener.java
  index.js
  samples/Catalog/Catalog.android.js
Labels: Android, READY TO REVIEW, enhancement

#98 Add catalog example for changing pages
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.ios.js
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
Labels: READY TO REVIEW, iOS

#99 Add API and Catalog example to manually save a document
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.ios.js
Labels: READY TO REVIEW, iOS

#97 Instant JSON API
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDataReturnedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDocumentSaveFailedEvent.java
  android/src/main/java/com/pspdfkit/react/helper/DocumentJsonDataProvider.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/PdfViewDocumentListener.java
  index.js
Labels: Android, READY TO REVIEW

#100 Add annotationAuthorName prop to set the annotation author
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
Labels: READY TO REVIEW, iOS

#101 Instant JSON API - iOS
  index.js
  ios/RCTPSPDFKit.xcodeproj/project.pbxproj
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.m
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.ios.js
Labels: READY TO REVIEW, iOS

#102 Add Event Listeners Catalog example on iOS
  samples/Catalog/Catalog.ios.js
Labels: READY TO REVIEW, iOS

#104 Expand Android catalog examples
  samples/Catalog/Catalog.android.js
Labels: Android, READY TO REVIEW
