Repository PSPDFKit/react-native, pull requests merged in 2018-12, with the labels that each got.

#135 Add support for the new sharing configuration
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
  samples/Catalog/Catalog.ios.js
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
Labels: enhancement, iOS

#151 Windows 1.8 update
  README.md
  samples/Catalog/Catalog.windows.js
  samples/Catalog/package.json
  samples/Catalog/windows/.gitignore
  samples/Catalog/windows/Catalog.sln
  samples/Catalog/windows/Catalog/App.xaml
  samples/Catalog/windows/Catalog/App.xaml.cs
  samples/Catalog/windows/Catalog/Catalog.csproj
  samples/Catalog/windows/Catalog/Catalog_TemporaryKey.pfx
  samples/Catalog/windows/Catalog/Package.appxmanifest
  samples/Catalog/windows/Catalog/project.json
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#153 Update to Windows 1.9
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#154 Update instructions for custom application.
  README.md
  screenshots/windowsSelectRNPSPDFKit.PNG
Labels: READY TO REVIEW, windows
