Repository PSPDFKit/react-native, pull requests merged in 2018-05, with the labels that each got.

#71 Windows update to 1.3.0
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#72 Upgrade to React Native 0.55.4
  README.md
  android/build.gradle
  package.json
  samples/Catalog/.flowconfig
  samples/Catalog/.gitignore
  samples/Catalog/Catalog.android.js
  samples/Catalog/android/build.gradle
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
  samples/Catalog/ios/Catalog/AppDelegate.h
  samples/Catalog/ios/Catalog/AppDelegate.m
  samples/Catalog/ios/Catalog/main.m
  samples/Catalog/ios/CatalogTests/CatalogTests.m
  samples/Catalog/package.json
  samples/Catalog/yarn.lock
Labels: Android, READY TO REVIEW

#73 Update for PSPDFKit 7.6 for iOS
  README.md
  screenshots/deployment-target.png
Labels: READY TO REVIEW, iOS
