Repository PSPDFKit/react-native, pull requests merged in 2018-08, with the labels that each got.

#106 Programmatic PDF form filling - iOS
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.ios.js
  samples/PDFs/Form_example.pdf
Labels: READY TO REVIEW, iOS

#109 Update reference to windows SDK
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#108 Add the ability to programmatically toggle the annotation toolbar
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.ios.js
Labels: READY TO REVIEW, iOS

#107 Add form read/write API
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDataReturnedEvent.java
  android/src/main/java/com/pspdfkit/react/helper/JsonUtilities.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  index.js
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
Labels: Android, READY TO REVIEW

#110 Add missing `onStateChanged` for iOS
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.ios.js
Labels: READY TO REVIEW, iOS

#111 Updated windows SDK 1.5.4
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#114 UWP issue when no document is passed.
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitPackage.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#113 Update readme for UWP
  README.md
  screenshots/changeVersionSDK.png
Labels: READY TO REVIEW, windows

#115 Catalog prop-types issue
  README.md
  samples/Catalog/package.json
  samples/Catalog/windows/Catalog/project.json
Labels: READY TO REVIEW, windows

#117 Fix image stamps not working
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
Labels: Android, READY TO REVIEW, bug

#116 Update API documentation for getAnnotations
  android/src/main/java/com/pspdfkit/react/events/PdfViewDataReturnedEvent.java
  index.js
Labels: Android, READY TO REVIEW, iOS

#122 Update PSPDFKit Version
  android/build.gradle
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
Labels: Android, READY TO REVIEW

#123 Release 1.20.0
  README.md
  package-lock.json
  package.json
Labels: Android, READY TO REVIEW, iOS, windows

#125 Fix local reference to package
  README.md
  package.json
Labels: windows
