Repository PSPDFKit/react-native, pull requests merged in 2018-06, with the labels that each got.

#76 Image document support
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
  samples/Catalog/Catalog.android.js
  samples/Catalog/android/app/build.gradle
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/catalog/MainApplication.java
  samples/Catalog/android/settings.gradle
  samples/Catalog/package.json
  samples/Catalog/yarn.lock
  samples/Images/android.png
Labels: Android, READY TO REVIEW

#75 Add the ability to present Image Documents
  README.md
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFDocument.m
  ios/cocoapods.md
Labels: READY TO REVIEW, iOS

#77 Release 1.12.0
  package-lock.json
  package.json
  react-native-pspdfkit.podspec
Labels: Android, READY TO REVIEW, iOS

#78 Update uwp library version to 1.4
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#79 Update version of Windows to 1.4.1
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows
