Repository PSPDFKit/react-native, pull requests merged in 2018-02, with the labels that each got.

#56 Update iOS Catalog project and assets
  ios/RCTPSPDFKit.xcodeproj/project.pbxproj
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFDocument.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFDocument.m
  ios/RCTPSPDFKit/RCTPSPDFKitManager.h
  ios/RCTPSPDFKit/RCTPSPDFKitManager.m
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
  samples/Catalog/assets/logo-flat.png
  samples/Catalog/assets/logo-flat@2x.png
  samples/Catalog/assets/logo-flat@3x.png
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/Contents.json
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_1024.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_120.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_152.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_167.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_180.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_20.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_29.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_40.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_58.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_60.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_76.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_80.png
  samples/Catalog/ios/Catalog/Images.xcassets/AppIcon.appiconset/appicon_87.png
  samples/PDFs/Annual Report.pdf
  samples/PDFs/PSPDFKit 5 QuickStart Guide.pdf
Labels: READY TO REVIEW

#59 Update windows SDK version to 1.0
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#57 Add API to change pages programmatically
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  android/src/main/java/com/pspdfkit/react/MainActivity.java
  android/src/main/java/com/pspdfkit/react/MainApplication.java
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
  android/src/main/java/com/pspdfkit/react/PSPDFKitPackage.java
  samples/Catalog/Catalog.android.js
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/catalog/MainActivity.java
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/catalog/MainApplication.java
  samples/Catalog/android/app/src/main/res/values/colors.xml
  samples/Catalog/android/app/src/main/res/values/strings.xml
  samples/Catalog/android/app/src/main/res/values/styles.xml
  samples/Catalog/yarn.lock
Labels: READY TO REVIEW, android, enhancement
