Repository PSPDFKit/react-native, pull requests merged in 2019-06, with the labels that each got.

#233 Adds Javascript API to customize the toolbar on iOS
  index.js
  ios/RCTPSPDFKit.xcodeproj/project.pbxproj
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFViewMode.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFViewMode.m
  ios/RCTPSPDFKit/Converters/RCTConvert+UIBarButtonItem.h
  ios/RCTPSPDFKit/Converters/RCTConvert+UIBarButtonItem.m
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  package-lock.json
  package.json
  samples/Catalog/Catalog.ios.js
  samples/Catalog/package.json
Labels: READY TO REVIEW, enhancement, iOS

#193 Update the iOS and Android Catalog for React Native 0.59.9
  index.js
  package-lock.json
  package.json
  samples/Catalog/Catalog.ios.js
  samples/Catalog/android/app/build.gradle
  samples/Catalog/android/build.gradle
  samples/Catalog/android/gradle/wrapper/gradle-wrapper.properties
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
  samples/Catalog/metro.config.js
  samples/Catalog/package.json
  samples/Catalog/testing/Testing.js
  samples/Catalog/yarn.lock
Labels: Android, READY TO REVIEW, enhancement, iOS

#235 Fix CocoaPods integration
  README.md
  ios/RCTPSPDFKit.xcodeproj/project.pbxproj
  ios/cocoapods.md
  package-lock.json
  package.json
  samples/Catalog/package.json
  screenshots/embedding-pspdfkit-pods.png
Labels: READY TO REVIEW, enhancement, iOS

#238 Upgrade PSPDFKit for Windows 2.2
  README.md
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows
