Repository PSPDFKit/react-native, pull requests merged in 2019-05, with the labels that each got.

#221 Re-implement Css Customization
  README.md
  index.windows.js
  package-lock.json
  package.json
  samples/Catalog/Catalog.windows.js
  samples/Catalog/package.json
  samples/Catalog/windows/Catalog/Assets/css/greenTheme.css
  samples/Catalog/windows/Catalog/Catalog.csproj
  samples/Catalog/windows/Catalog/MainReactNativeHost.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Assets/customTheme.css
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ColorUtils.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitPackage.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#222 UWP: Remove Annotation
  index.windows.js
  package-lock.json
  package.json
  samples/Catalog/Catalog.windows.js
  samples/Catalog/package.json
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Events/PdfViewDataReturnedEvent.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: READY TO REVIEW, windows

#224 Align annotations changed with ios
  package-lock.json
  package.json
  samples/Catalog/package.json
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Events/PdfViewAnnotationChangedEvent.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: windows

#223 Update wrapper to PSPSDFKit for Windows 2.0
  package-lock.json
  package.json
  samples/Catalog/Catalog.windows.js
  samples/Catalog/package.json
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/JsonUtils.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#229 Create the PDFViewPage when asked to by react native.
  package-lock.json
  package.json
  samples/Catalog/package.json
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitPackage.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: READY TO REVIEW, windows

#227 Add configuration for page mode and displaying the first page as a single page
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW, enhancement

#232 Fix broken link in the README
  README.md
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: READY TO REVIEW, enhancement, iOS
