Repository PSPDFKit/react-native, pull requests merged in 2019-10, with the labels that each got.

#307 Force UIModalPresentationOverFullScreen for the native module on iOS 13
  ios/RCTPSPDFKit/RCTPSPDFKitManager.m
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: READY TO REVIEW, iOS

#310 Fix `enableAnnotationEditing` on iOS
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
Labels: READY TO REVIEW, iOS

#309 Add the annotation name to the `onAnnotationsChanged` payload when annotation is removed on iOS
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.m
Labels: READY TO REVIEW, iOS

#308 Make saveCurrentDocument and setFormFieldValue return a promise
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
Labels: Android, READY TO REVIEW, enhancement, iOS

#311 Add support for enableAnnotationEditing and editableAnnotationTypes prop to Android
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  samples/Catalog/Catalog.android.js
Labels: Android, READY TO REVIEW, enhancement

#312 Update PSPDFKit to 6.0.2
  android/build.gradle
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/PdfViewDocumentListener.java
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW
