Repository PSPDFKit/react-native, pull requests merged in 2019-01, with the labels that each got.

#157 Windows 1.9.1 Update
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#156 Use the uuid property to remove an annotation
  README.md
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.m
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  ios/cocoapods.md
  package-lock.json
  package.json
Labels: READY TO REVIEW, iOS

#159 Unify configuration settings
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
  samples/Catalog/Catalog.ios.js
Labels: Android, READY TO REVIEW, iOS, windows
