Repository PSPDFKit/react-native, pull requests merged in 2019-09, with the labels that each got.

#291 Update to UWP 2.3.1
  samples/Catalog/package.json
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#293 Get All Annotations
  index.windows.js
  samples/Catalog/Catalog.windows.js
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: READY TO REVIEW, windows

#290 Add setLicenseKey method
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
Labels: Android, READY TO REVIEW, enhancement

#289 Add autosaveEnabled configuration
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW, enhancement

#297 Update for PSPDFKit 9 for iOS
  .gitignore
  README.md
  ios/RCTPSPDFKit.xcodeproj/project.pbxproj
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
  ios/RCTPSPDFKit/RCTPSPDFKitManager.m
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
  samples/Catalog/ios/Catalog.xcodeproj/xcshareddata/xcschemes/Catalog.xcscheme
  screenshots/adding-pdf.png
  screenshots/always-embed-swift-standard-libraries.png
  screenshots/deployment-target.png
  screenshots/view-controller-based-status-bar-appearance.png
Labels: HOLD, READY TO REVIEW, iOS
