Repository PSPDFKit/react-native, pull requests merged in 2019-08, with the labels that each got.

#263 [WIP] Update react-native to 0.60.4
  README.md
  android/build.gradle
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/react/TestingModule.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewAnnotationChangedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewAnnotationTappedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDataReturnedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDocumentLoadFailedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDocumentSaveFailedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDocumentSavedEvent.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewStateChangedEvent.java
  android/src/main/java/com/pspdfkit/react/helper/DocumentJsonDataProvider.java
  android/src/main/java/com/pspdfkit/react/menu/ReactGroupingRule.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/PdfViewDocumentListener.java
  android/src/main/java/com/pspdfkit/views/PdfViewModeController.java
  index.js
  index.windows.js
  package-lock.json
  package.json
  samples/Catalog/.eslintrc.js
  samples/Catalog/.flowconfig
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
  samples/Catalog/Catalog.windows.js
  samples/Catalog/android/app/_BUCK
  samples/Catalog/android/app/build.gradle
  samples/Catalog/android/app/src/androidTest/java/com/pspdfkit/react/PdfViewTest.java
  samples/Catalog/android/app/src/androidTest/java/com/pspdfkit/react/utils/ViewActions.java
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/catalog/MainActivity.java
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/catalog/MainApplication.java
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/test/TestActivity.java
  samples/Catalog/android/build.gradle
  samples/Catalog/android/gradle.properties
  samples/Catalog/android/gradle/wrapper/gradle-wrapper.properties
  samples/Catalog/android/gradlew
  samples/Catalog/android/gradlew.bat
  samples/Catalog/android/settings.gradle
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
  samples/Catalog/package.json
  samples/Catalog/testing/Testing.js
  samples/Catalog/yarn.lock
Labels: Android, READY TO REVIEW, iOS

#264 Implement `getAllAnnotations()`
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  package-lock.json
  package.json
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW, enhancement, iOS

#267 Remove demo artifacts from build script
  android/build.gradle
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW

#265 Update iOS integration steps for auto linking
  README.md
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: READY TO REVIEW, enhancement, iOS

#269 Fix hot reload breaking the PdfView
  android/src/main/java/com/pspdfkit/views/PdfView.java
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW, bug

#272 React native Windows 0.59 support
  README.md
  index.windows.js
  samples/Catalog/Catalog.windows.js
  samples/Catalog/package.json
Labels: READY TO REVIEW, windows

#287 Add comment to explain why we dismiss he `PSPDFViewController`
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: READY TO REVIEW, iOS
