Repository PSPDFKit/react-native, pull requests merged in 2019-04, with the labels that each got.

#201 Release 1.23.3
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW, iOS

#202 Add Github issue and pull request templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW, enhancement, iOS, windows

#208 Fix set toolbar promise.
  package-lock.json
  package.json
  samples/Catalog/Catalog.windows.js
  samples/Catalog/package.json
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
Labels: READY TO REVIEW, windows

#209 Check if document is valid before adding or removing annotations
  README.md
  ios/RCTPSPDFKit.xcodeproj/project.pbxproj
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  package-lock.json
  package.json
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
  samples/Catalog/ios/Catalog.xcodeproj/xcshareddata/xcschemes/Catalog.xcscheme
  samples/Catalog/package.json
Labels: READY TO REVIEW, bug, iOS

#211 Updated and tested 1.12
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#210 Update for PSPDFKit 8.3 for iOS
  README.md
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  package-lock.json
  package.json
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
  samples/Catalog/package.json
  screenshots/deployment-target.png
Labels: READY TO REVIEW, iOS

#218 Fix crash when null colors are passed
  package-lock.json
  package.json
  samples/Catalog/package.json
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/JsonUtils.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: windows
