Repository PSPDFKit/react-native, pull requests merged in 2019-03, with the labels that each got.

#165 UWP Customize toolbar support
  index.windows.js
  samples/Catalog/Catalog.windows.js
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Events/PdfViewDataReturnedEvent.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/LibraryModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#180 Fix un-awaited set toolbar.
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: READY TO REVIEW, windows

#179 Clean up of Windows Javascript
  index.windows.js
  samples/Catalog/Catalog.windows.js
Labels: READY TO REVIEW, windows

#181 Added a Operation result event for addAnnotation.
  index.windows.js
  samples/Catalog/Catalog.windows.js
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Events/PdfViewOperationResult.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#177 [UWP] Fix Error about an undefined Exception for the Promise returned by Present()
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
Labels: READY TO REVIEW, windows

#183 Add permissions in the info.plist of the iOS Catalog
  samples/Catalog/ios/Catalog/Info.plist
Labels: READY TO REVIEW, enhancement, iOS

#185 Add promise to save document and interaction mode
  index.windows.js
  samples/Catalog/Catalog.windows.js
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: READY TO REVIEW, windows

#186 UWP: Update to PSPDFKit for Windows 1.11.0
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#189 Update readme to advise on `react-native-windows` versioning
  README.md
Labels: READY TO REVIEW, windows

#191 Get rid of default configuration and use the one the SDK provides
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
Labels: Android, READY TO REVIEW

#192 Release 1.23.2
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW, iOS

#178 Proposal for specific peer Dependencies
  package.json
Labels: READY TO REVIEW

#197 Add `documentLoaded` to the `onStateChanged` payload.
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
Labels: READY TO REVIEW, iOS

#198 Update prop types to latest
  samples/Catalog/package.json
  samples/Catalog/yarn.lock
Labels: Android, READY TO REVIEW, iOS, windows

#199 Support css colors
  index.windows.js
  samples/Catalog/Catalog.windows.js
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/Assets/customTheme.css
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ColorUtils.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#200 Update README.md
  README.md
Labels: Android, READY TO REVIEW
