Repository PSPDFKit/react-native, pull requests merged in 2019-07, with the labels that each got.

#242 Bump version to 1.24.3
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: READY TO REVIEW

#244 Fix for PdfView not being rendered
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDocumentLoadFailedEvent.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
Labels: Android, READY TO REVIEW, bug, iOS

#248 Add support for old way of accessing the view manager config
  index.js
  package-lock.json
  package.json
  samples/Catalog/package.json
Labels: Android, bug

#256 Update the README to add a section about how to Customize the Toolbar Buttons
  README.md
Labels: READY TO REVIEW, iOS

#255 Add `toolbarTitle` Javascript API to override the iOS toolbar title
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  package-lock.json
  package.json
  samples/Catalog/Catalog.ios.js
  samples/Catalog/package.json
Labels: READY TO REVIEW, enhancement, iOS

#257 Update Integration Steps to use CocoaPods by default starting with React Native 0.60.x
  README.md
  ios/cocoapods.md
  package-lock.json
  package.json
  react-native-pspdfkit.podspec
  samples/Catalog/package.json
  screenshots/adding-to-react-native-pspdfkit.png
  screenshots/embedding-pspdfkit.png
  screenshots/linking-static-library.png
  screenshots/run-script-phase.png
Labels: READY TO REVIEW, iOS

#261 Improve error handling for annotation manipulations functions
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.m
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  package-lock.json
  package.json
  samples/Catalog/Catalog.ios.js
  samples/Catalog/package.json
Labels: READY TO REVIEW, iOS

#259 Android improvements
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewDataReturnedEvent.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  index.js
  package-lock.json
  package.json
  samples/Catalog/Catalog.android.js
  samples/Catalog/package.json
Labels: Android, READY TO REVIEW
