Repository PSPDFKit/react-native, pull requests merged in 2019-02, with the labels that each got.

#162 0.57 RN support
  README.md
  ios/RCTPSPDFKit/RCTPSPDFKitManager.m
  ios/cocoapods.md
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
  samples/Catalog/Catalog.windows.js
  samples/Catalog/package.json
  samples/Catalog/windows/Catalog/Catalog.csproj
  samples/Catalog/yarn.lock
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#164 Update Windows Reference to 1.10
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#166 Update copyright 2019
  README.md
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  android/src/main/java/com/pspdfkit/react/MainActivity.java
  android/src/main/java/com/pspdfkit/react/MainApplication.java
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
  android/src/main/java/com/pspdfkit/react/PSPDFKitPackage.java
  index.js
  index.windows.js
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotationToolbarConfiguration.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotationToolbarConfiguration.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFDocument.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFDocument.m
  ios/RCTPSPDFKit/RCTPSPDFKitManager.h
  ios/RCTPSPDFKit/RCTPSPDFKitManager.m
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.h
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
  samples/Catalog/Catalog.windows.js
  samples/Catalog/android/app/src/androidTest/java/com/pspdfkit/react/utils/ViewActions.java
  samples/Catalog/android/app/src/main/AndroidManifest.xml
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/catalog/MainActivity.java
  samples/Catalog/android/app/src/main/java/com/pspdfkit/react/catalog/MainApplication.java
  samples/Catalog/android/app/src/main/res/values/colors.xml
  samples/Catalog/android/app/src/main/res/values/strings.xml
  samples/Catalog/android/app/src/main/res/values/styles.xml
  samples/Catalog/index.js
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/LibraryModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PDFViewPage.xaml.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitPackage.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: Android, READY TO REVIEW, iOS, windows

#160 Add configuration for showing/hiding the document title overlay
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
Labels: Android, READY TO REVIEW

#171 Update to Windows 1.10.1
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: windows

#172 Add a promise to Present File.
  samples/Catalog/Catalog.windows.js
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/LibraryModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitModule.cs
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/PSPDFKitViewManager.cs
Labels: windows
