Repository PSPDFKit/react-native, pull requests merged in 2020-07, with the labels that each got.

#372 Provide default fragment tag for PSPDFKitView
  index.js
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW, bug

#371 Update for PSPDFKit 9.5 for iOS
  LICENSE
  README.md
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotationChange.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotationChange.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotationToolbarConfiguration.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotationToolbarConfiguration.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFDocument.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFDocument.m
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFViewMode.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFViewMode.m
  ios/RCTPSPDFKit/Converters/RCTConvert+UIBarButtonItem.h
  ios/RCTPSPDFKit/Converters/RCTConvert+UIBarButtonItem.m
  ios/RCTPSPDFKit/RCTPSPDFKitManager.h
  ios/RCTPSPDFKit/RCTPSPDFKitManager.m
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.h
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: READY TO REVIEW, iOS

#373 Update to PSPDFKit 6.5 for Android
  README.md
  android/build.gradle
  package-lock.json
  package.json
  samples/Catalog/android/build.gradle
  samples/Catalog/package.json
  samples/NativeCatalog/README.md
  samples/NativeCatalog/android/build.gradle
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW, update
