Repository PSPDFKit/react-native, pull requests merged in 2020-01, with the labels that each got.

#337 Bump PSPDFKit for Android to Version 6.1
  android/build.gradle
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW

#342 Update to PSPDFKit for Android 6.1.1
  android/build.gradle
  package-lock.json
  package.json
  samples/Catalog/android/gradle.properties
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW

#343 Adds instructions for how to use the Experimental Mac Catalyst Support
  README.md
  ios/Experimental_Mac_Catalyst_Support.md
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
  screenshots/compress-xcframeworks.png
  screenshots/edit-scheme.png
  screenshots/enable-mac.png
  screenshots/fix-rctwebsocket-mac-catalyst.png
  screenshots/launched-app-mac-catalyst.png
  screenshots/set-release-build-configuration.png
Labels: READY TO REVIEW, enhancement, iOS

#322 Make PdfView use PdfUiFragment instead of PdfFragment
  android/src/main/java/com/pspdfkit/views/ConfigurationChangeReportingPdfUiFragment.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/PdfViewDocumentListener.java
  android/src/main/java/com/pspdfkit/views/PdfViewModeController.java
  package-lock.json
  package.json
  samples/Catalog/Catalog.android.js
  samples/Catalog/android/app/src/androidTest/java/com/pspdfkit/react/PdfViewTest.java
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, HOLD, READY TO REVIEW, enhancement
