Repository PSPDFKit/react-native, pull requests merged in 2020-03, with the labels that each got.

#354 Add bookmark action configuration option
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
Labels: Android, READY TO REVIEW, enhancement

#355 Put PSPDFKit on Gradle's 'api' configuration
  android/build.gradle
Labels: Android, READY TO REVIEW, enhancement

#356 Update to PSPDFKit for Android 6.2.0
  android/build.gradle
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW

#357 Reload the entire document when calling `addAnnotations`
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: READY TO REVIEW, bug, iOS

#339 Add "Native Catalog" with advanced integration examples on iOS
  README.md
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/.gitignore
  samples/NativeCatalog/App.js
  samples/NativeCatalog/README.md
  samples/NativeCatalog/android/app/src/main/java/com/pspdfkit/nativecatalog/CustomPdfViewManager.java
  samples/NativeCatalog/app.json
  samples/NativeCatalog/ios/NativeCatalog.xcodeproj/project.pbxproj
  samples/NativeCatalog/ios/NativeCatalog.xcodeproj/xcshareddata/xcschemes/NativeCatalog.xcscheme
  samples/NativeCatalog/ios/NativeCatalog.xcworkspace/contents.xcworkspacedata
  samples/NativeCatalog/ios/NativeCatalog.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  samples/NativeCatalog/ios/NativeCatalog/AppDelegate.h
  samples/NativeCatalog/ios/NativeCatalog/AppDelegate.m
  samples/NativeCatalog/ios/NativeCatalog/Base.lproj/LaunchScreen.xib
  samples/NativeCatalog/ios/NativeCatalog/Examples/CustomPdfView.h
  samples/NativeCatalog/ios/NativeCatalog/Examples/CustomPdfView.m
  samples/NativeCatalog/ios/NativeCatalog/Examples/CustomPdfViewManager.h
  samples/NativeCatalog/ios/NativeCatalog/Examples/CustomPdfViewManager.m
  samples/NativeCatalog/ios/NativeCatalog/Images.xcassets/AppIcon.appiconset/Contents.json
  samples/NativeCatalog/ios/NativeCatalog/Images.xcassets/Contents.json
  samples/NativeCatalog/ios/NativeCatalog/Info.plist
  samples/NativeCatalog/ios/NativeCatalog/main.m
  samples/NativeCatalog/ios/NativeCatalogTests/Info.plist
  samples/NativeCatalog/ios/NativeCatalogTests/NativeCatalogTests.m
  samples/NativeCatalog/ios/Podfile
  samples/NativeCatalog/package.json
  samples/PDFs/JohnAppleseed.p12
  samples/PDFs/JohnAppleseed.p7c
Labels: READY TO REVIEW, enhancement, iOS

#361 Fix warning in the Xcode project by migrating the development region
  ios/RCTPSPDFKit.xcodeproj/project.pbxproj
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: READY TO REVIEW, iOS

#360 Add support for hiding the main toolbar
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/ReactMainToolbar.java
  android/src/main/java/com/pspdfkit/views/ReactPdfUiFragment.java
  android/src/main/res/layout/pspdf__toolbar_main.xml
  ios/RCTPSPDFKit/RCTPSPDFKitView.m
  package-lock.json
  package.json
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
  samples/Catalog/package.json
  samples/NativeCatalog/App.js
  samples/NativeCatalog/android/app/src/main/java/com/pspdfkit/nativecatalog/CustomPdfViewManager.java
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW, iOS
