Repository PSPDFKit/react-native, pull requests merged in 2020-05, with the labels that each got.

#366 Update to PSPDFKit for Windows 2.6.2
  samples/Catalog/windows/Catalog/Catalog.csproj
  windows/ReactNativePSPDFKit/ReactNativePSPDFKit/ReactNativePSPDFKit.csproj
Labels: READY TO REVIEW, windows

#363 Adds Javascript API to customize the font picker
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  index.js
  ios/RCTPSPDFKit/RCTPSPDFKitView.h
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
Labels: Android, READY TO REVIEW, enhancement, iOS

#368 Update Catalog dependencies
  package-lock.json
  package.json
  samples/Catalog/android/gradle/wrapper/gradle-wrapper.properties
  samples/Catalog/package.json
  samples/Catalog/yarn.lock
  samples/NativeCatalog/android/gradle/wrapper/gradle-wrapper.properties
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW, dependencies, iOS
