Repository PSPDFKit/react-native, pull requests merged in 2020-04, with the labels that each got.

#362 Bridge Instant Example from PSPDFKit Catalog to the NativeCatalog React Native project
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/App.js
  samples/NativeCatalog/README.md
  samples/NativeCatalog/ios/InstantExample/InstantDocumentInfo.swift
  samples/NativeCatalog/ios/InstantExample/InstantDocumentPresenter.swift
  samples/NativeCatalog/ios/InstantExample/InstantDocumentViewController.swift
  samples/NativeCatalog/ios/InstantExample/InstantExample.swift
  samples/NativeCatalog/ios/InstantExample/ScannerViewController.swift
  samples/NativeCatalog/ios/InstantExample/WebExamplesAPIClient.swift
  samples/NativeCatalog/ios/NativeCatalog.xcodeproj/project.pbxproj
  samples/NativeCatalog/ios/NativeCatalog/Examples/CustomPdfView.h
  samples/NativeCatalog/ios/NativeCatalog/Examples/CustomPdfView.m
  samples/NativeCatalog/ios/NativeCatalog/Examples/CustomPdfViewManager.m
  samples/NativeCatalog/ios/NativeCatalog/Examples/NativeCatalog-Bridging-Header.h
  samples/NativeCatalog/ios/NativeCatalog/Info.plist
  samples/NativeCatalog/ios/NativeCatalog/InstantExample/InstantDocumentInfo.swift
  samples/NativeCatalog/ios/NativeCatalog/InstantExample/InstantDocumentPresenter.swift
  samples/NativeCatalog/ios/NativeCatalog/InstantExample/InstantDocumentViewController.swift
  samples/NativeCatalog/ios/NativeCatalog/InstantExample/InstantExample.swift
  samples/NativeCatalog/ios/NativeCatalog/InstantExample/ScannerViewController.swift
  samples/NativeCatalog/ios/NativeCatalog/InstantExample/UIViewController+PSCFrontmost.swift
  samples/NativeCatalog/ios/NativeCatalog/InstantExample/WebExamplesAPIClient.swift
  samples/NativeCatalog/ios/Podfile
  samples/NativeCatalog/package.json
Labels: READY TO REVIEW, iOS

#364 Update PSPDFKit Version to 6.3.0
  android/build.gradle
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/ReactPdfUiFragment.java
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW

#365 Add form editing configuration
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFConfiguration.m
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW, enhancement, iOS
