Repository PSPDFKit/react-native, pull requests merged in 2020-02, with the labels that each got.

#345 Add more Android configuration options
  android/src/main/java/com/pspdfkit/react/ConfigurationAdapter.java
  android/src/main/java/com/pspdfkit/react/ReactPdfViewManager.java
  android/src/main/java/com/pspdfkit/react/events/PdfViewNavigationButtonClickedEvent.java
  android/src/main/java/com/pspdfkit/views/ConfigurationChangeReportingPdfUiFragment.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  android/src/main/java/com/pspdfkit/views/ReactPdfUiFragment.java
  android/src/main/res/drawable/pspdf__ic_navigation_arrow.xml
  index.js
  package-lock.json
  package.json
  samples/Catalog/Catalog.android.js
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW

#347 Fix two navigation buttons being shown while the search is open
  android/src/main/java/com/pspdfkit/views/PdfView.java
Labels: Android, READY TO REVIEW

#348 Return a promise when calling PSPDFKit.present()
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
  ios/RCTPSPDFKit/RCTPSPDFKitManager.m
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
Labels: Android, READY TO REVIEW, iOS

#349 Include uuid in annotation removed event
  android/src/main/java/com/pspdfkit/react/events/PdfViewAnnotationChangedEvent.java
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotation.m
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW

#350 Add API for annotation processing
  android/src/main/java/com/pspdfkit/react/PSPDFKitModule.java
  android/src/main/java/com/pspdfkit/react/helper/ConversionHelpers.java
  android/src/main/java/com/pspdfkit/views/PdfView.java
  ios/RCTPSPDFKit.xcodeproj/project.pbxproj
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotationChange.h
  ios/RCTPSPDFKit/Converters/RCTConvert+PSPDFAnnotationChange.m
  ios/RCTPSPDFKit/RCTPSPDFKitManager.m
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  package-lock.json
  package.json
  samples/Catalog/Catalog.android.js
  samples/Catalog/Catalog.ios.js
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW, enhancement, iOS

#351 Mention the annotation processing API in the README
  README.md
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: READY TO REVIEW, enhancement, iOS
