Repository PSPDFKit/react-native, pull requests merged in 2021-02, with the labels that each got.

#387 Update for PSPDFKit 10.2 for iOS, Xcode 12.4 and React Native 0.63.4
  README.md
  package-lock.json
  package.json
  samples/Catalog/ios/Catalog.xcodeproj/project.pbxproj
  samples/Catalog/ios/Catalog.xcodeproj/xcshareddata/xcschemes/Catalog.xcscheme
  samples/Catalog/package.json
  samples/NativeCatalog/README.md
  samples/NativeCatalog/ios/NativeCatalog.xcodeproj/project.pbxproj
  samples/NativeCatalog/ios/NativeCatalog.xcodeproj/xcshareddata/xcschemes/NativeCatalog.xcscheme
  samples/NativeCatalog/package.json
Labels: READY TO REVIEW, iOS, update

#389 Fix issue where `disableAutomaticSaving` did not work when `useParentNavigationBar` was enabled.
  ios/RCTPSPDFKit/RCTPSPDFKitViewManager.m
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: READY TO REVIEW, bug, iOS

#388 Release Android version 6.6.0
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  android/build.gradle
  package-lock.json
  package.json
  samples/Catalog/package.json
  samples/NativeCatalog/package.json
Labels: Android, READY TO REVIEW, customer-issue, update
